@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$text: #3C4963;
$link: #0055FF;
$link-hover: #BE40F9;

body {
  padding: 1.5rem;
  margin: 0;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  color: $text;
  opacity: 0;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
  opacity: 1;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  margin: 0;
  max-width: 350px;
}


a {
  color: $link;
  // transition: color, .5s;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }

  &:focus{
    color: $link-hover;
    text-decoration: underline;
    outline: none;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
